html {
    font-size: 62.5%;
    font-family: var(--letter1), var(--letter2);
}

.common-text {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-container {
    padding: 30px 6.5%;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 32px;
    align-items: flex-end;
}

.main-title {
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: -0.533px;
}

.theme {
    display: flex;
    width: 43%;
    align-items: flex-end;
    justify-content: space-between;
}

.theme__title {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
}

.theme-selector {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 51%;
    justify-content: space-between;
    align-items: center;
}

.theme-ids {
    display: grid;
    justify-self: center;
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    grid-template: 1fr / repeat(3, 1fr);
}

.selector {
    display: grid;
    border-radius: 13px;
    padding: 5px;
    grid-template: 1fr / repeat(3, 1fr);
    width: 90%;
}

.switch1, .switch2, .switch3 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 1;
    justify-self: center;
}

.switch-location--left {
    grid-area: 1 / 1 / 1 / 1;
}

.switch-location--center {
    grid-area: 1 / 2 / 1 / 3;
}

.switch-location--right {
    grid-area: 1 / 3 / 1 / 4;
}

.calculation {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 7.5%;
    padding-top: 29px;
    padding-bottom: 22px;
    border-radius: 10px;
    margin-bottom: 24px;
}

.calculation__text {
    text-align: right;
    font-size: 4rem;
    letter-spacing: -0.667px;
}

.keyboard {
    border-radius: 10px;
    padding: 24px 7.5%;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 15px 15px;
}

.number-key {
    height: 64px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: -0.533px;
    padding: 0;
}

.reset {
    grid-area: 5 / 1 / 5 / 3;
}

.equal {
    grid-area: 5 / 3 / 5 / 5;
}

.reset, .delete, .equal {
    font-size: 2rem;
}