.background-color1b {
    background-color: var(--color1b);
}

.text-color2b {
    color: var(--color2b);
}

.background-color3b {
    background-color: var(--color3b);
}

.background-color4b {
    background-color: var(--color4b);
}

.background-color5b {
    background-color: var(--color5b);
}

.background-color6b {
    background-color: var(--color6b);
}

.text-color7b {
    color: var(--color2b);
}

.background-color8b {
    background-color: var(--color7b);
}

.number-key-hover2:hover {
    background-color: var(--color8b);
}

.reset-hover2:hover, .delete-hover2:hover {
    background-color: var(--color9b);
}

.equal-hover2:hover {
    background-color: var(--color10b);
}