.background-color1c {
    background-color: var(--color1c);
}

.text-color2c {
    color: var(--color2c);
}

.background-color3c {
    background-color: var(--color3c);
}

.background-color4c {
    background-color: var(--color4c);
}

.background-color5c {
    background-color: var(--color3c);
}

.background-color6c {
    background-color: var(--color5c);
}

.text-color7c {
    color: var(--color2c);
}

.background-color8c {
    background-color: var(--color6c);
}

.number-key-hover3:hover {
    background-color: var(--color7c);
}

.reset-hover3:hover, .delete-hover3:hover {
    background-color: var(--color8c);
}

.equal-hover3:hover {
    background-color: var(--color9c);
}